*{
	box-sizing: border-box;
}
body{
	font-family: 'Arvo', serif;
	background-color: #f3f5f7;
}
.row-h2{
	text-align: center;
	color: #3b3f6a;
	font-size: 30px;
	font-weight: 500;
	padding-bottom: 50px;
}
.item{
	text-align: center;
}
.item h4{
	color: #3b3f6a;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 0;
}
.item img{
	vertical-align: bottom;
}
.item p{
	color: #b2b5c5;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Noto Sans', sans-serif;
}