@font-face {
  font-family: 'P22 Underground CY Pro';
  src: url('../fonts/P22UndergroundCYPro-Book.eot');
  src: url('../fonts/P22UndergroundCYPro-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/P22UndergroundCYPro-Book.woff2') format('woff2'), url('../fonts/P22UndergroundCYPro-Book.woff') format('woff'), url('../fonts/P22UndergroundCYPro-Book.ttf') format('truetype'), url('../fonts/P22UndergroundCYPro-Book.svg#P22UndergroundCYPro-Book') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'P22 Underground CY Pro';
  src: url('../fonts/P22UndergroundCYPro-Thin.eot');
  src: url('../fonts/P22UndergroundCYPro-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/P22UndergroundCYPro-Thin.woff2') format('woff2'), url('../fonts/P22UndergroundCYPro-Thin.woff') format('woff'), url('../fonts/P22UndergroundCYPro-Thin.ttf') format('truetype'), url('../fonts/P22UndergroundCYPro-Thin.svg#P22UndergroundCYPro-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'P22 Underground CY Pro';
  src: url('../fonts/P22UndergroundCYPro-Heavy.eot');
  src: url('../fonts/P22UndergroundCYPro-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/P22UndergroundCYPro-Heavy.woff2') format('woff2'), url('../fonts/P22UndergroundCYPro-Heavy.woff') format('woff'), url('../fonts/P22UndergroundCYPro-Heavy.ttf') format('truetype'), url('../fonts/P22UndergroundCYPro-Heavy.svg#P22UndergroundCYPro-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: 'P22 Underground CY Pro';
  color: #fff;
}
body {
  overflow-x: hidden;
}
.header {
  width: 100vw;
  height: 100%;
  padding-bottom: 7rem;
  background: url(../img/main.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 5rem;
  position: relative;
}
.header__row-top-logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50rem;
}
.header__row-top-logo img {
  display: inline-block;
  vertical-align: middle;
}
.header__row-top-logo p {
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: middle;
  font-weight: 100;
  margin-left: 1rem;
}
.header__row-top-logo p strong {
  font-size: 2rem;
  font-weight: 900;
}
.header__row-top-phone {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.header__row-top-phone button {
  text-decoration: none;
  background: none;
  border: 0.1rem solid #fff;
  outline: none;
  width: 14rem;
  height: 4rem;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'P22 Underground CY Pro';
  font-weight: 100;
  margin-right: 2rem;
  vertical-align: middle;
}
.header__row-top-phone button:hover {
  border: 0.1rem solid #000;
  background-color: #fff;
  color: #000;
  text-shadow: 0 0 1rem #000;
}
.header__row-top-phone span {
  font-size: 2rem;
  font-weight: 900;
  vertical-align: middle;
}
.header__h2 {
  text-transform: uppercase;
  color: #ffff33;
  text-align: center;
  font-size: 3.1rem;
  font-weight: 900;
  margin-top: 3rem;
  animation-delay: 0.8s;
}
.header__form-block {
  margin-top: 5rem;
  text-align: center;
}
.header__form-block ul {
  display: inline-block;
  text-align: left;
  line-height: 1.5;
  list-style-image: url(../img/1.png);
  margin-right: 2.5rem;
  vertical-align: middle;
  animation-delay: 0.8s;
}
.header__form-block ul li {
  font-weight: bold;
  font-size: 1.6rem;
}
.header__form-block form {
  display: inline-block;
  background: #fff;
  height: 28rem;
  width: 29rem;
  vertical-align: middle;
  border-radius: 2%;
  position: relative;
  animation-delay: 0.8s;
}
.header__form-block form p {
  margin-top: 3rem;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.header__form-block form input {
  margin: 0.5rem 0rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #999999;
  width: 20rem;
  height: 4rem;
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 6rem;
  outline: none;
}
.header__form-block form input:hover {
  border: 0.1rem solid #000;
  color: #000;
}
.header__form-block form button {
  margin-top: 0.5rem;
  width: 20rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: #ffff33;
  color: #333333;
  border: none;
  outline: none;
  font-weight: 100;
  box-shadow: 0rem 0.35rem 0rem #999900;
}
.header__money-img {
  position: absolute;
  bottom: -4rem;
  left: 50%;
  width: 25rem;
  transform: translateX(-50%);
}
.input-items {
  background: url(../img/input-item.png) no-repeat center left;
  background-size: 20%;
}
.input-phone {
  background: url(../img/input-item-tel.png) no-repeat center left;
  background-size: 20%;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.main {
  width: 100vw;
  height: 70vh;
  padding-top: 7rem;
  text-align: center;
}
.main__items {
  width: 24%;
  height: 20rem;
  float: left;
  color: #000;
  position: relative;
  padding: 1rem;
  margin-right: 1rem;
}
.main__items-not_float {
  float: none;
  display: inline-block;
}
.main__items p {
  font-size: 1.5rem;
  font-weight: bold;
}
.main__items-icon {
  height: 7rem;
  width: 7rem;
  background-color: #ffff33;
  border-radius: 10rem;
  position: relative;
  display: inline-block;
  top: 0;
  margin-bottom: 2rem;
  transform: translateY(0%);
}
.main__items-icon img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.container-main {
  position: relative;
  transform: translateY(0%);
  width: 100%;
}
@media (max-width: 1273px) {
  .header__row-top-logo {
    margin-right: 23%;
    margin-right: 0;
  }
  .header__row-top-phone {
    float: right;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 7px;
  }
  .header__row-top-logo {
    margin-right: 0;
  }
  .main__items {
    width: 32%;
  }
}
@media (max-width: 820px) {
  html {
    font-size: 10px;
  }
  .header {
    height: 100%;
    padding-bottom: 2rem;
  }
  .header__row-top-logo {
    margin-right: 28rem;
  }
  .header__row-top-logo {
    margin: 0;
    display: block;
    text-align: center;
  }
  .header__row-top-phone {
    position: relative;
    float: none;
    display: block;
    text-align: center;
    margin-top: 3rem;
  }
  .header__h2 {
    font-size: 2rem;
    display: block;
  }
  .header__form-block ul {
    list-style-image: none;
    text-align: center;
    margin-bottom: 2rem;
  }
  .header__form-block form {
    padding-top: 1rem;
  }
  .header__money-img {
    position: absolute;
    bottom: -7rem;
    left: 50%;
    width: 18rem;
    transform: translateX(-50%);
  }
  .container-main {
    width: 100%;
  }
  .main__items {
    width: 48%;
  }
}
@media (max-width: 500px) {
  .main__items {
    left: 50%;
    transform: translateX(-50%);
  }
  .main__items-not_float {
    width: 48%;
    left: 0;
    transform: none;
  }
}
@media (max-width: 360px) {
  body,html{
		overflow-x:hidden;
	}
  .header__row-top-logo {
    margin-right: 1rem;
    line-height: 1.3;
  }
  .header__row-top-phone button {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
  }
  .header__h2 {
    line-height: 1.3;
    margin-right: 1rem;
  }
  .header__form-block ul {
    margin-right: 0.5rem;
  }
  .header__form-block form {
    height: 28rem;
    width: 22rem;
    margin-right: 0.5rem;
  }
}
@media (min-width: 1380px) {
  html {
    font-size: 18px;
  }
}
