*{
	box-sizing: border-box;
}
html{
	font-size:10px;
}
a{
	text-decoration: none;
}
// ---------------------------------

.main{
	background-color: #faf4f4;
}
.main__content{
	text-align: center;
}
.main__content-h1{
	margin-top: 5rem;
	margin-bottom: 1rem;
	font-size:5rem;
}
.main__span{
	color:#fd8569;
}
.main__contant-p{
	color:#dddddd;
	font-size: 1.6rem;
	font-weight: 200;
	margin-bottom: 7rem;
}
.main__info-box{
	position: relative;
	background-color: #4eb2f7;
	padding: 5rem 0rem;
	margin: 0 15px;
	max-width: 22%;
	color:#fff;
}
.main__info-box-color-two{
	background-color: #c049f8;
}
.main__info-box-color-three{
	background-color: #817eff;
}
.main__info-box-color-four{
	background-color: #f74770;
}
.fa{
	font-size: 5rem;
}
.main__info-box-span{
	font-size:2rem;
	font-weight: 200;
	margin-bottom: 2rem;
}
.fa-camera-retro{
	transform:rotate(45deg);
}
.main__info-box-btn{
	position: relative;
	background-color: #fff;
	padding: 1.2rem 6rem;
	border-radius:6rem;
	box-shadow: 0 0 2rem rgba(0,0,0,0.5);
	bottom:-6rem;
	font-size: 1.6rem;
	color:#696969;
	vertical-align: middle;

}
.fa-plus{
	font-size: 1.7rem;
	margin-right: 2rem;
	vertical-align: middle;
}