*{
	box-sizing: border-box;
}
main{
	background: url(../img/bg.png) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	width: 100%;
}
.price{
	margin-top: 45px;
	background: #fff;
	border-radius: 10px;
	padding-bottom: 20px;
}

.ccolose{
	margin-top: 30px;
	font-size: 30px	;
	font-weight: 300;
	color: #5c5c5c;
}

.img-box{
	text-align: center;
}
.img-box img{
	width: 400px;
}
.content-box{

}
.content-box h2{
	margin: 0;
	font-size: 33px;
	font-weight: 500;
}
.content-box h4{
	margin-top: 0;
	font-weight: 300;
	text-transform: uppercase;
	color: #5c5c5c;
	font-size: 18px;

}
.content-box h3{
	font-size: 33px;
	color: #f4c13b;
	font-weight: 300;
}

.content-box p{
	color: #5c5c5c;
	font-size: 16px;

}
.minus,.plus{
	font-size: 20px;
	border:1px solid #d1d1d1;
	padding: 3px 10px;
	border-radius: 50px;
	cursor: pointer;
	vertical-align: middle;
	margin-right: 10px;
}
.plus{
	margin-right: 0;
	/*margin-left: 5px;*/
	padding: 3px 8px;
}
.numb-btn{
	border:none;
	font-size: 30px;
    width: 40px;
    vertical-align: middle;
    outline: none;
}

.btn-form{
  background-color: rgb(244, 193, 59);
  width: 200px;
  height: 45px;
  margin-top: 20px;
  border:none;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 0px 50px #f55555;
}

}